body{
	background-image: url("Fondo.jpg");
	font-family: Arial, Serifa;
}

#Cajita{
	width: 85%;
	margin: 0px auto;
	background: lightgray;
}

header{
	background-image: url("FondoC.jpg");
	height: 24%;
	width: 100%;
	border: 1px solid black;
	text-align: center;
	line-height: 10%;
}

nav{
	background-image: url("FondoM.jpg");
	border: 1px solid black;
	height: 10%;
	width: 100%;
}

nav ul li{
	float: left;
	list-style: none;
	margin-left: 150px;
	line-height: 48px;
}

#clearfix{
	clear: both;
}

#Contenido{
	float: left;
	width: calc(100% - 30px);
	padding-left: 15px;
}

footer{
	background: black;
	text-align: center;
	height: 50px;
	border: 1px solid black;
	width: 100%;
	line-height: 50px;
}